<div class="bs-docs-section">
  <h1 id="input-groups" class="page-header">Input groups</h1>

  <h3 id="input-groups-checkboxes-radios">Checkboxes and radio addons</h3>
  <form class="bs-example bs-example-form">
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon">
            <input type="checkbox" class="flat">
          </span>
          <input type="text" class="form-control">
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon">
            <input type="radio" class="flat">
          </span>
          <input type="text" class="form-control">
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </form>
{% highlight html %}
<div class="input-group">
  <span class="input-group-addon">
    <input type="checkbox" class="flat">
  </span>
  <input type="text" class="form-control">
</div>
<div class="input-group">
  <span class="input-group-addon">
    <input type="radio" class="flat">
  </span>
  <input type="text" class="form-control">
</div>
{% endhighlight %}

  <h4 id="input-groups-sizing">Sizing</h4>
  <form class="bs-example bs-example-form">
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group input-group-lg">
          <span class="input-group-addon">
            <input type="checkbox" class="flat">
          </span>
          <input type="text" class="form-control" placeholder=".input-group-lg">
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
      <div class="col-lg-6">
        <div class="input-group input-group-lg">
          <span class="input-group-addon">
            <input type="radio" class="flat" name="input-group-addon-sizing">
          </span>
          <input type="text" class="form-control" placeholder=".input-group-lg">
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon">
            <input type="checkbox" class="flat">
          </span>
          <input type="text" class="form-control" placeholder="Default">
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon">
            <input type="radio" class="flat" name="input-group-addon-sizing">
          </span>
          <input type="text" class="form-control" placeholder="Default">
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
      <div class="col-lg-6">
        <div class="input-group input-group-sm">
          <span class="input-group-addon">
            <input type="checkbox" class="flat">
          </span>
          <input type="text" class="form-control" placeholder=".input-group-sm">
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
      <div class="col-lg-6">
        <div class="input-group input-group-sm">
          <span class="input-group-addon">
            <input type="radio" class="flat" name="input-group-addon-sizing">
          </span>
          <input type="text" class="form-control" placeholder=".input-group-sm">
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </form>
{% highlight html %}
<div class="input-group input-group-lg">
  <span class="input-group-addon">
    <input type="checkbox" class="flat">
  </span>
  <input type="text" class="form-control">
</div>
<div class="input-group input-group-lg">
  <span class="input-group-addon">
    <input type="radio" class="flat">
  </span>
  <input type="text" class="form-control">
</div>

<div class="input-group">
  <span class="input-group-addon">
    <input type="checkbox" class="flat">
  </span>
  <input type="text" class="form-control">
</div>
<div class="input-group">
  <span class="input-group-addon">
    <input type="radio" class="flat">
  </span>
  <input type="text" class="form-control">
</div>

<div class="input-group input-group-sm">
  <span class="input-group-addon">
    <input type="checkbox" class="flat">
  </span>
  <input type="text" class="form-control">
</div>
<div class="input-group input-group-sm">
  <span class="input-group-addon">
    <input type="radio" class="flat">
  </span>
  <input type="text" class="form-control">
</div>
{% endhighlight %}
</div>
