<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
  </head>
  <body>

    <!-- Docs master nav -->
    {% include nav/main.html %}

    <!-- Docs page layout -->
    <div class="bs-docs-header" id="content">
      <div class="container">
        <h1>{{ page.title }}</h1>
        <p>{{ page.lead }}</p>
      </div>
    </div>

    <div class="container bs-docs-container">

      <div class="row">
        <div class="col-md-{% if page.fullwidth == true %}12{% else %}9{% endif %}" role="main">
          {{ content }}
        </div>
        {% unless page.fullwidth == true %}
        <div class="col-md-3">
          <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm" role="complementary">
            <ul class="nav bs-docs-sidenav">
              {% if page.slug == "getting-started" %}
                {% include nav/getting-started.html %}
              {% elsif page.slug == "css" %}
                {% include nav/css.html %}
              {% elsif page.slug == "components" %}
                {% include nav/components.html %}
              {% endif %}
            </ul>
            <a class="back-to-top" href="#top">
              Back to top
            </a>
          </div>
        </div>
        {% endunless %}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
